<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionCode="1"
	android:versionName="1.0"
	package="com.troubadorian.streamradio.controller">
	
	<application android:icon="@drawable/icon"
		android:debuggable="true"
		android:label="@string/app_name"
		android:theme="@style/Theme.NoBackground"
		>
		<activity
			android:name=".Streamradio"
			android:label="@string/app_name"
			android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|fontScale"
			android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name="com.troubadorian.streamradio.controller.TriggerActivity"
			android:label="@string/app_name"
			android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|fontScale"
			android:screenOrientation="portrait">
		</activity>
		
		<service
			android:name="com.troubadorian.streamradio.client.services.IHRService"	android_process="com.troubadorian.streamradio.client.services">
		</service>
	</application>
	
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.BATTERY_STATS" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name='android.permission.READ_PHONE_STATE' />
	<uses-permission android:name='android.permission.WAKE_LOCK' />
	<uses-permission android:name='android.permission.WRITE_EXTERNAL_STORAGE' />
    <uses-sdk  android:minSdkVersion="5"/>

</manifest>
